body {
    background: black;
}

h1 {
    text-align: center;
    background: white;
    height: 40px;
    margin: auto;
    padding-top: 10px;
    font-size: 30px;
}
section {
    background: rgb(234, 228, 228);
    width: 80%;
    margin: auto;
}

.post {
    background: white;
    text-align: center;
    width: 40%;
    margin: auto;
}

.post-header, .post-footer {
    text-align: left;
    padding-left: 10px;
}

img {
    width: 100%;
    text-align: center;
    height: 40%;
}

.post-footer {
    padding-bottom: 5px;
}

.post-header {
    margin-bottom: 10px;
}

h3 {
    padding-top: 5px;
}
